@font-face {
  font-family: "iconfont"; /* Project id 4848432 */
  src: url('iconfont.woff2?t=1741272527097') format('woff2'),
       url('iconfont.woff?t=1741272527097') format('woff'),
       url('iconfont.ttf?t=1741272527097') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-audio:before {
  content: "\e665";
}

.icon-csv:before {
  content: "\e666";
}

.icon-image:before {
  content: "\e667";
}

.icon-video:before {
  content: "\e66d";
}

.icon-txt:before {
  content: "\e66c";
}

.icon-ppt:before {
  content: "\e805";
}

.icon-excel:before {
  content: "\e806";
}

.icon-word:before {
  content: "\e807";
}

.icon-pdf:before {
  content: "\e808";
}

.icon-wenjianjia:before {
  content: "\e80c";
}

.icon-weizhi3:before {
  content: "\e84e";
}

.icon-yasuowenjian3:before {
  content: "\e84f";
}

.icon-daimawenjian:before {
  content: "\1019c";
}

.icon-a-shangchuanxiazai:before {
  content: "\e7cb";
}

.icon-share:before {
  content: "\e6f3";
}

