@import './base.css';

@import 'tailwindcss';

/* 全局主题变量定义 */
html.light {
  --custom-main-aside-bg: #f3f3f3; /* 自定义侧边栏背景色 */
  --custom-btn-hover-bg: #dbdbdb; /* 自定义按钮hover背景 */
  --custom-all-operation-bg: #f6f6f6; /* 自定义所有操作按钮的背景色 */
}

html.dark {
  --custom-main-aside-bg: #222226; /* 自定义侧边栏背景色 */
  --custom-btn-hover-bg: #38383b; /* 自定义按钮hover背景 */
  --custom-all-operation-bg: #242429; /* 自定义所有操作按钮的背景色 */
}

/* 避免 el-tooltip 聚焦时出现默认的蓝色边框 */
.el-tooltip__trigger:focus-visible {
  outline: unset;
}
.el-tooltip__trigger:first-child:focus-visible {
  outline: unset;
}

/* 阿里图标库 */
.ali-icon {
  width: 14px;
  height: 14px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.ali-icon-large {
  width: 24px; /* 大图标 */
  height: 24px;
}
